<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Processo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" media="screen"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="/css/abertura_processo.css" rel="stylesheet">
</head>

<body>

  <main class="bg-body-tertiary">
    <div class="d-flex align-items-center" style="flex-direction: column;width: 100%;height: 90%;">

      <form id="aberturaProcesso" type="submit">

        <section id="section1">
          <div class="form-signin card padding-bottom" style="height: 420px;justify-content: flex-start;">
            <h4 class="mb-3 fw-normal padding-bottom">Geral</h4>
            <div>
              <div style="display: flex" class="margin-bottom-form">

                <div class="form-floating" style="width: 30%;">
                  <h6 class="fw-normal">Data de entrada </h6>
                  <input type="date" class="form-control" id="dataEntradaGecri" placeholder="Data de entrada GECRI"
                    required="">
                </div>

                <div class="form-floating divinput-margin-left" style="width: 60%">
                  <h6 class=" fw-normal"> Valor Financiamento (R$) </h6>
                  <input formcontrolname="sGPTypeDeliveryId" id="valorFinanciamento" type="text"
                    placeholder="Valor Financiamento (R$)" class="form-control" required="required">

                </div>



                <div class="divinput-margin-left"
                  style="width: 30%;display: flex;justify-content: space-around;align-items: center">
                  <div>
                    <div>
                      <input type="checkbox" name="fgts" id="fgts">
                      <label for="fgts"> FGTS </label>
                    </div>

                    <div>
                      <input type="checkbox" name="iq" id="iq">
                      <label for="iq"> IQ </label>
                    </div>

                    <div>
                      <input type="checkbox" name="portab" id="portab">
                      <label for="iq"> PORTAB </label>
                    </div>
                  </div>
                </div>
              </div>


              <div style="display: flex" class="margin-bottom-form">

                <div class="form-floating" style="width: 20%;">
                  <h6 class="fw-normal">Sistema de Amortização</h6>
                  <select class="form-select" id="tipodeamortizacao" required="">
                    <option value="sac">SAC</option>
                    <option value="price">PRICE</option>
                  </select>
                </div>

                <div class="form-floating divinput-margin-left" style="width: 20%">
                  <h6 class=" fw-normal"> Prazo (em meses) </h6>
                  <input formcontrolname="sGPTypeDeliveryId" id="prazo" type="text" placeholder="Prazo (em meses)"
                    class="form-control" required="required">
                </div>

                <div class="form-floating divinput-margin-left" style="width: 20%">
                  <h6 class=" fw-normal"> Taxa </h6>
                  <input formcontrolname="sGPTypeDeliveryId" id="taxa" type="text" placeholder="Taxa"
                    class="form-control" required="required">
                </div>
              </div>

              <!-- AGÊNCIA -->
              <div class="padding-top border-bottom">
                <h5 class="mb-3 fw-normal padding-bottom">Agência</h5>
                <div style="display: flex;" class="margin-bottom-form">
                  <div class="form-floating" style="width: 20%;">
                    <h6 class=" fw-normal">CID </h6>
                    <input type="text" class="form-control" id="cid" placeholder="CID" maxlength="5" required="">
                  </div>

                  <div class="form-floating divinput-margin-left" style="width: 55%;">
                    <h6 class=" fw-normal">Nome da Agência </h6>
                    <input type="text" class="form-control" id="agencia" placeholder="Nome da Agência" readonly=""
                      required="">
                  </div>

                  <div class="form-floating divinput-margin-left" style="width: 25%;">
                    <h6 class=" fw-normal">SUREG </h6>
                    <input type="text" class="form-control" id="superintendencia" placeholder="SUREG" maxlength="5"
                      readonly="" required="">
                  </div>
                </div>
              </div>


              <!-- FIM DA AGÊNCIA -->


            </div>
          </div>
          <div class="card">
            <div class="border-bottom">

              <!-- CORRESPONDENTE -->
              <div style="display: flex;justify-content: center;">
                <div class="form-floating margin-bottom-form">
                  <h5 class="mb-3 fw-normal">Correspondente? </h5>
                  <div style="display: flex;justify-content: space-evenly;;">
                    <input class="form-check-input" type="radio" id="corresp_sim" name="correspondente?" value="1"
                      required=""> Sim
                    <input class="form-check-input" type="radio" id="corresp_nao" name="correspondente?" value="0"
                      required=""> Não
                  </div>
                </div>
              </div>
              <div class="padding-top" style="width: 100%;display: flex;">

                <div id="correspDiv" style="display: none;width: 100%;">

                  <div style="display: flex;margin-bottom: 2%;">
                    <div class="form-floating" style="width: 40%;">
                      <h6 class=" fw-normal">CNPJ</h6>
                      <input type="text" class="form-control" id="cnpjCorrespondente" placeholder="CNPJ Correspondente"
                        maxlength="18">
                    </div>

                    <div class="form-floating divinput-margin-left" style="width: 65%;">
                      <h6 class=" fw-normal">Nome do Correspondente</h6>
                      <input type="text" class="form-control" id="nomeCorrespondente"
                        placeholder="Nome do Correspondente" readonly="">
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <!-- FIM DO CORRESPONDENTE -->
          </div>
        </section>

        <section id="section2">

          <div class="card">
            <h4>Mutuarios:</h4>
            <!-- MUTUARIOS -->
            <div name="listaMutuario">
              <div style="display: flex;padding-bottom: 1.5%;" class="border-bottom">

                <div class="form-floating" style="width: 65%;">
                  <h6 class="fw-normal">Mutuario</h6>
                  <input type="text" class="form-control" id="mutuario" placeholder="Nome do Mutuario" required="">
                </div>
  
                <div class="form-floating divinput-margin-left" style="width: 35%;">
                  <h6 class="fw-normal">CPF/CNPJ</h6>
                  <input type="text" class="form-control" id="num_Mutuario" placeholder="CPF/CNPJ" maxlength="18"
                    required="">
                </div>
  
                <div class="divinput-margin-left"
                  style="display:flex;align-items:center;width: 15%;justify-content: space-around;">
                  <div> <input class="form-check-input" type="radio" name="tipoMutuario" value="PF" required=""> PF </div>
                  <div> <input class="form-check-input" type="radio" name="tipoMutuario" value="PJ" required=""> PJ </div>
                </div>
  
              </div>
            </div>
            
            <h4>Vendedores:</h4>
            <!-- FIM DO MUTUARIO -->
            <div name="listaVendedores">
              <div style="display: flex;padding-bottom: 1.5%;" class="border-bottom">

                <div class="form-floating" style="width: 65%;">
                  <h6 class=" fw-normal">Vendedor</h6>
                  <input type="text" class="form-control" id="vendedor" placeholder="Nome do vendedor" required="">
                </div>
  
                <div class="form-floating divinput-margin-left" style="width: 35%;">
                  <h6 class=" fw-normal">CPF/CNPJ</h6>
                  <input type="text" class="form-control" id="num_Vendedor" placeholder="CPF/CNPJ" maxlength="18"
                    required="">
                </div>
  
                <div class="divinput-margin-left"
                  style="display:flex;align-items:center;width: 15%;justify-content: space-around;">
                  <div> <input class="form-check-input" type="radio" name="tipoVendedor" value="PF" required=""> PF </div>
                  <div> <input class="form-check-input" type="radio" name="tipoVendedor" value="PJ" required=""> PJ </div>
                </div>
  
              </div>
            </div>
            
          </div>



          <div>
            <div class="w-100" style="display: flex; justify-content: end;">
              <button class="btn btn-primary py-2" style="margin-left: 1.2%" type="submit">Confirmação</button>
            </div>
          </div>
        </section>
      </form>

    </div>
  </main>

  <script src="/js/data/agencias.json"></script>
  <script src="/js/data/correspondentes.json"></script>
  <script src="/js/abertura_processo/functions.js"></script>
  <script src="/js/abertura_processo/post_infos.js"></script>
</body>

</html>